.mtk3, .mtk4, .mtki {
    font-family: "Operator Mono";
    font-style: italic;
}
.comment{
    font-family: "Operator Mono";
    font-style: italic;
}
.comment{
    font-family: "Operator Mono";
    font-style: italic;
}